<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Grafo</title>
  <script src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
  <link rel="stylesheet" href="../static/css/home.css">
</head>

<body>

  <h1>Grafo:</h1>
  <div class="corpo">

    <div id="grafo" class="grafo"></div>
    <div style="display: flex; gap: 16px; margin-top: 16px;">

      <fieldset>
        <legend>Nó</legend>
        <input type="text" id="novoNo" placeholder="Nome do nó">
        <button id="btn-no">Adicionar nó</button>
        <p></p>
        <input type="text" id="Del-No" placeholder="Nome do nó" list="lista-nos">
        <button id="btn-del-no">Remover nó</button>
      </fieldset>

      <fieldset>
        <legend>Aresta</legend>
        <input type="text" id="Aresta-o" placeholder="Origem" list="lista-nos">
        <input type="text" id="Aresta-d" placeholder="Destino" list="lista-nos">
        <button id="btn-aresta">Adicionar aresta</button>
        <p></p>
        <input type=" text" id="Del-Aresta-o" placeholder="Origem" list="lista-nos">
        <input type="text" id="Del-Aresta-d" placeholder="Destino" list="lista-nos">
        <button id="btn-del-aresta">Remover aresta</button>
      </fieldset>
      <datalist id="lista-nos"></datalist>
      
      <button id="btn-ordem">ordenacao top</button>
    </div>
    <fieldset>
        <legend>bfs</legend>
        <input type="text" id="NoInicio" placeholder="Escolha no nó de ínicio" list="lista-nos">
        <button id="btn-bfs">Inicar BFS</button>
      </fieldset>
  </div>
  <script src="{{ url_for('static', filename='../static/js/home.js') }}"></script
</body>
</html>