<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Grafo</title>
  <script src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
  <link rel="stylesheet" href="../static/css/home.css">
</head>

<body>

  <h1>Grafo</h1>

  <div class="corpo">

    <div id="grafo"></div>

    <div class="controles">

      <div class="coluna-no">
        <fieldset>
          <legend>Nó</legend>
          <input type="text" id="novoNo" placeholder="Nome do nó">
          <button id="btn-no">Adicionar Tarefa</button>
          <input type="text" id="Del-No" placeholder="Nome do nó" list="lista-nos">
          <button id="btn-del-no">Remover Tarefa</button>
        </fieldset>

        <fieldset>
          <legend>BFS</legend>
          <input type="text" id="NoInicio" placeholder="Nó de início" list="lista-nos">
          <button id="btn-bfs">Iniciar BFS em tarefas</button>
        </fieldset>
      </div>

      <fieldset>
        <legend>Aresta</legend>
        <input type="text" id="Aresta-o" placeholder="Origem" list="lista-nos">
        <input type="text" id="Aresta-d" placeholder="Destino" list="lista-nos">
        <button id="btn-aresta">Adicionar dependencia de tarefas</button>
        <input type="text" id="Del-Aresta-o" placeholder="Origem" list="lista-nos">
        <input type="text" id="Del-Aresta-d" placeholder="Destino" list="lista-nos">
        <button id="btn-del-aresta">Remover dependencias de tarefas</button>
      </fieldset>

      <datalist id="lista-nos"></datalist>

      <button id="btn-ordem">Ver fluxo de tarefas (O.T)</button>

    </div>

  </div>

  <script>const nomeGrafo = "{{nome_grafo}}"</script>
  <script src="{{ url_for('static', filename='../static/js/home.js') }}"></script>

</body>
</html>