<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Grafo</title>
  <script src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
  <link rel="stylesheet" href="../static/css/home.css">
</head>

<body>

  <h1>Grafo</h1>

  <div class="corpo">

    <div id="grafo"></div>

    <div class="controles">

      <div class="coluna-no">
        <fieldset>
          <legend>Tarefas</legend>
          <input type="text" id="novoNo" placeholder="Nome do nó">
          <button id="btn-no">Adicionar tarefa (nó)</button>
          <input type="text" id="Del-No" placeholder="Nome do nó" list="lista-nos">
          <button id="btn-del-no">Remover tarefa (nó)</button>
        </fieldset>

        <fieldset>
          <legend>Iniciar ordem de execução a partir de uma tarefa (BFS)</legend>
          <input type="text" id="NoInicio" placeholder="Nó de início" list="lista-nos">
          <button id="btn-bfs">Iniciar</button>
          <button id="btn-restaurar" style="display: none;">Restaurar grafo</button>
        </fieldset>
      </div>
      <div>
        <fieldset>
          <legend>Dependências (arestas)</legend>
          <input type="text" id="Aresta-o" placeholder="Origem" list="lista-nos">
          <input type="text" id="Aresta-d" placeholder="Destino" list="lista-nos">
          <button id="btn-aresta">Adicionar aresta</button>
          <input type="text" id="Del-Aresta-o" placeholder="Origem" list="lista-nos">
          <input type="text" id="Del-Aresta-d" placeholder="Destino" list="lista-nos">
          <button id="btn-del-aresta">Remover aresta</button>
        </fieldset>
        <div class="ordem-top">
          <button id="btn-ordem">Ordenação topológica</button>
        </div>
        
      </div>
      <datalist id="lista-nos"></datalist>

      

    </div>

  </div>
  <div class="footer">
    <p class="footer01">
      Projeto da disciplina de Projeto de Algoritmos<br><br>
      Alunos:
      Gabriel Octacilio Vieira | Zayra Batista Moraes
    </p>
  </div>

  <script>const nomeGrafo = "{{nome_grafo}}"</script>
  <script src="{{ url_for('static', filename='../static/js/home.js') }}"></script>

</body>
</html>