<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Escolha um grafo</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="stylesheet" href="../static/css/index.css">

</head>
<body>

  <h1>Visualização de Algoritmos em Grafos</h1>

  <p class="descricao">
    Este projeto demonstra a aplicação de algoritmos como 
    <strong>BFS</strong> e <strong>ordenação topológica</strong> 
    na organização de tarefas em grafos direcionados.
  </p>

  <p class="descricao">
    Escolha um grafo abaixo para explorar e visualizar a execução dos algoritmos.
  </p>

  <div class="options">
    <a href="/app/Teste"><button>Grafo de Teste</button></a>
    <a href="/app/Codigo"><button>Grafo de Código</button></a>
  </div>

  <p class="footer">
    Projeto da disciplina de Projeto de Algoritmos<br><br>
    Alunos:
    Gabriel Octacilio Vieira | Zayra Batista Moraes
  </p>


</body>
</html>